{% extends 'main.html' %}
{% block title %} Add Entry | This Or That!{% endblock %}
{% block content %}
    <div class="content">
        <h1>Add your Entry!</h1>
        <h3>Submit your photo entry to be a contender on <i>This Or That</i>!</h3>
        <form action="{{ url_for('add_entry') }}" method="POST">
            <br>{{ form.name.label }}<br>{{ form.name }}<br>
            <br>{{ form.category.label }}<br>{{ form.category}}<br>
            <br>{{ form.url.label }}<br>{{ form.url }}<br>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}