{% extends 'main.html' %}
{% block title %} Add Entry | This Or That!{% endblock %}
{% block content %}
    <div class="content">
        <h1>Add your Entry!</h1>
        <h3>Submit your photo entry to be a contender on <i>This Or That</i>!</h3>
        <form action="{{ url_for('add_entry') }}" method="POST" id="entryform">
            <label>ENTRY NAME: </label><br>
            <input type="text" id="entryname" name="entryname" placeholder="Brief title of photo entry" required><br>
            <label>CHOOSE A CATEGORY:</label><br>
                <select id="category" name="category">
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.type }}</option>
                    {% endfor %}
                </select><br>
                <label>PHOTO LINK: </label><br>
                <input type="text" id="url" name="url" placeholder="Enter photo URL here" required><br>
            <input type="submit">
        </form>
    </div>
{% endblock %}