<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <div class="sidenav">
                <a href="{{ url_for('index') }}"><img class="logo" src='/static/img/thisorthat.png'></a>
                <nav>
                    <ul>
                        <hr>
                        <li><a href="{{ url_for('get_categories') }}">CATEGORIES</a></li>
                        <li><a href="{{ url_for('add_entry') }}">ADD ENTRY</a></li>
                        <li><a href="">PLAY</a></li>
                        <br><hr>
                        <li><a href="https://dev-mrose.us.auth0.com/u/signup?state=g6Fo2SBtQVRmd2haS1V3Q1l4T1N6ZFNtTU9jNjZIdXk4T3J0WaN0aWTZIFFlRmRpUWdkVGJ3R1RsOTBmd0FEZlVZU0pLUjJxYm9Fo2NpZNkga1lXQm92NXR5aVlrOTBFNm9zR1dodEY1SUt4Q2ZLek4">Sign up</a></li>
                        <li><a href="http://dev-mrose.us.auth0.com/authorize?audience=tot&response_type=token&client_id=kYWBov5tyiYk90E6osGWhtF5IKxCfKzN&redirect_uri=http://127.0.0.1:8080">Log in</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>