{% extends 'main.html' %}
{% block title %}{{ showcat.type }} | Categories | This Or That!{% endblock %}
{% block content %}
    <div class="content">
        <h1>Categories</h1>
        <div class="submenu">
            {% for category in categories %}
                <a href="/categories/{{ category.id }}" class="button">{{ category.type }}</a>
            {% endfor %}
        </div>
        <p><h2>All entries for: {{ showcat.type }}</h2> <a href="{{ url_for('add_entry') }}" class="button">New</a> <a href="/categories" class="button">Back</a></p>
        <div class="entries">
            {% for entry in entries %}
            <div class="lilpolaroid">
                <a href="/entries/{{ entry.id }}">
                    <img src="{{ entry.image }}">
                </a>
                <div class="lilcaption">
                    <table>
                        <tr>
                            <th>{{ entry.name }}</th>
                            <td>Total Votes: {{ entry.votes }}</td>
                        </tr>
                    </table>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
{% endblock %}