{% extends 'main.html' %}
{% block title %}{{ showcat.type }} | Categories | This Or That!{% endblock %}
{% block content %}
    <div class="content">
        <h1>Categories</h1>
        <div class="submenu">
            {% for category in categories %}
                <a href="/categories/{{ category.id }}" class="button">{{ category.type }}</a>
            {% endfor %}
        </div>
        <p><h2>{{ showcat.type }} Entries</h2> <a href="/categories" class="button">Back</a></p>
        <div class="entries">
            {% for entry in entries %}
            <p>
                {{ entry.name }} | Total Votes: {{ entry.votes }}
                <br>
                <a href="/entries/{{ entry.id }}">
                    <img src="{{ entry.image }}">
                </a>
            </p> 
            {% endfor %}
        </div>    
    </div>
{% endblock %}