{% extends 'main.html' %}
{% block title %}{{ entry.name }} | This Or That!{% endblock %}
{% block content %}
    <div class="content">
        <h1>Entry Info</h1>
        <a href="/categories" class="button">Back</a> 
        {% if session %}
            <a href="{{ url_for('update_entry', id=entry.id) }}" class="button">Update</a>
            <a href="{{ url_for('delete_entry', id=entry.id) }}" class="button">Delete</a>
        {% endif %}
        <div class="polaroid">
            <div class="caption">
            <table>
                <tr>
                    <th>Name: {{ entry.name }}</th>
                    <td>Total Votes: {{ entry.votes }}</td>
                </tr>
                <tr>
                    <th>Submitted: {{ entry.date }}</th>
                    <td>Entry ID: {{ entry.id }}</td>
                </tr>
            </table>            
            </div>
            <img src="{{ entry.entry_url }}">
       </div>    
    </div>
{% endblock %}